section.popular {
  background-color: var(--light-color-2);
  .container-fluid {
    .card {
      border: none;
      box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 5%);
      margin-bottom: 7px;
      .card-title {
        font-weight: 600;
        font-size: 20px;
          }
      .card-text{
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
