footer {
  z-index: -1;
  background-image: url(../images/footer.png);
  .links {
    li {
      a{
        border: 1px solid white;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

    }
  }
}
