:root {
  --light-color: #ffff;
  --light-color-2: #f8f8f8;
  --dark-color:#161f38;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: $transition;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color);
}


.scroll-to-top{
z-index: 1000;
right:-100% ;
transition: $transition;
background-color: $red-color-1;
color: $light-color;
@include hover("br", $red-color-1);
@include hover("color", $red-color-1);
@include hover("bak",transparent);

}

section{
  background-color: var(--light-color);
}