//media query
$maxMobile: "max-width:767px";
$maxSmall: "max-width:991px";
$minSmall: "min-width:768px";
$minMedium: "min-width:992px";
$maxMedium: "min-width:1199px";
$minLarge: "min-width:1200px";

//colors

// Primary
$red-color-1: #f9250f;

//Secondary
$red-color-2: #fa3c28;

$orange-color-1: #eb5128;
$orange-color-2:#eb51281a;

$orange-color-3:#ff7e20;
$orange-color-4:#ff7e201a;

$purple-color-1:#646eff;
$purple-color-2:#646eff1a;

$pink-color-1: #ff36df;
$pink-color-2: #ff36df1a;

//Neutral
$light-color: #ffffff;
$light-color-2: #f8f8f8;
$light-color-3: #eeeeee;
$light-color-5: #e1f6ff;
$light-color-6: #fce8ff;
$light-color-7: #e5e5e5;
$light-color: #eaeaea;

$dark-color: #6c6f72;
$dark-color-1: #161f38;
$dark-color-2: #222222;
$dark-color-3:#191e25;
$meta-dark-color: #777777;

$green-color-1:#23ddea;
$green-color-2:#23ddea1a;

$tertiary-color: #0069ff;


$yellow-color-1: #ffcd30;
$yellow-color-4: #f3c98a;


$orange-color-3: #ff7a00;





//transition
$transition:0.5s;


